{% extends 'dashboard.html' %}
{% load static %}
{% block title %}privacy | Add-privacy{% endblock %}
{% block content %}

<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Add Privacy & Policy</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="#">
                        <div class="text-tiny">Dashboard</div>
                    </a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <div class="text-tiny">Privacy Policies</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- new-category -->
        <div class="wg-box">
           <form class="form-new-product form-style-1" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <fieldset class="name">
                        <div class="body-title">Privacy Title <span class="tf-color-1">*</span></div>
                        <input class="flex-grow" type="text" placeholder="Title" name="p_title"
                            tabindex="0" value="{{ form.p_title.value|default_if_none:'' }}" aria-required="true" required="">
                    </fieldset>
                    <fieldset class="description">
                        <div class="body-title mb-10">Privacy Content<span class="tf-color-1"></span>
                        </div>
                            <textarea id="privacy-p_text" name="p_text">{{ privacy.p_text|default_if_none:'' }}</textarea>
                    </fieldset>
                    <fieldset class="name">
                            <div class="body-title">Terms Title <span class="tf-color-1">*</span></div>
                            <input class="flex-grow" type="text" placeholder="Title" name="t_title"
                                tabindex="0" value="{{ form.t_title.value|default_if_none:'' }}" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="description">
                            <div class="body-title mb-10">Terms Content<span class="tf-color-1"></span>
                            </div>
                                <textarea id="privacy-t_text" name="t_text">{{ privacy.t_text|default_if_none:'' }}</textarea>
                        </fieldset>
            </div>
    
    <div class="bot">
        <div></div>
        <button class="tf-button w208" type="submit">{% if privacy %}Update{% else %}Save{% endif %}</button>
    </div>
</form>

        </div>
    </div>
</div>
</script>
{% endblock %}
