{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Banner | Banner{% endblock %}
{% block content %}


  <div class="main-content-inner">
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Banners</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="index.html">
                                                <div class="text-tiny">Dashboard</div>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Banners</div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="wg-box">
                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <div class="wg-filter flex-grow">
                                           <form class="form-search" method="GET" action="{% url 'banner' %}">
                                            <fieldset class="name">
                                                <input type="text" placeholder="Search here..." name="q" 
                                                    value="{{ request.GET.q|default_if_none:'' }}" tabindex="2">
                                            </fieldset>
                                            <div class="button-submit">
                                                <button type="submit"><i class="icon-search"></i></button>
                                            </div>
                                        </form>

                                        </div>
                                        <a class="tf-button style-1 w208" href="{% url 'add_banner' %}"><i
                                                class="icon-plus"></i>Add new</a>
                                    </div>
                                    <div class="table-responsive card-body p-0">
                                       <table id="myDataTable" class="table table-hover no-border align-middle">
                                    <thead class="table-head text-white text-center">
                                    <tr>
                                        <th class="id-col text-center align-middle p-0">#</th>
                                         <th class="text-center">Image</th>
                                        <th class="text-center">Category Name</th>
                                         <th class="text-center">Brand Name</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                   <tbody id="user-table-body">
                                    {% for banner in banners %}
                                    <tr>
                                        
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-center">
                                            {% if banner.image %}
                                                <img src="{{ banner.image.url }}" width="80px" class="img-fluid" alt="{{ banner.name }}">
                                            {% else %}
                                                <span class="text-muted">No Image</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if banner.category %}
                                                {{ banner.category.name }}
                                            {% else %}
                                                <span class="text-muted">No Category</span>
                                            {% endif %}
                                        </td>

                                        <!-- Brand name -->
                                        <td class="text-center">
                                            {% if banner.brand %}
                                                {{ banner.brand.name }}
                                            {% else %}
                                                <span class="text-muted">No Brand</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ banner.created_at|date:"m/d/Y" }}</td>
                                        <td class="text-center">
                                                <a href="{% url 'edit_banner' banner.id %}" class="btn text-white fs-5 fw-semibold bg-secondary shadow"> Edit
                                                    <i class="fa-solid fa-pen"></i>
                                                </a>
                                                <a href="{% url 'delete_banner' banner.id %}" class="btn text-white fw-semibold bg-danger fs-5 shadow">Delete <i class="fa-solid fa-trash-can shadow"></i>
                                                </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No Banners found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>


                                </table>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="flex items-center justify-between flex-wrap gap10 wgp-pagination">

                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}