{% extends 'dashboard.html' %}
{% load static %}
{% block title %}App Users | Customers{% endblock %}
{% block content %}

<div class="main-content-inner">
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Customers</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <div class="text-tiny">Dashboard</div>
                    </a>
                </li>
                <li><i class="icon-chevron-right"></i></li>
                <li><div class="text-tiny">Customers</div></li>
            </ul>
        </div>

        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <form class="form-search" method="GET" action="">
                        <fieldset class="name">
                            <input type="text" placeholder="Search by number..." name="q" 
                                value="{{ request.GET.q|default_if_none:'' }}" tabindex="2">
                        </fieldset>
                        <div class="button-submit">
                            <button type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <a class="tf-button style-1 w208" href="{% url 'create_appuser' %}">
                    <i class="icon-plus"></i> Add new
                </a>
            </div>

            <div class="table-responsive card-body p-0">
                <table id="myDataTable" class="table table-hover no-border table-striped align-middle">
                    <thead class="table-head text-white text-center">
                        <tr>
                            <th class="id-col text-center align-middle p-0">#</th>
                            <th scope="col" class="text-center">User Name</th>
                            <th scope="col" class="text-center">User Number</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Created At</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="user-table-body">
                        {% for user in users %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">{{ user.name }}</td>
                            <td class="text-center">{{ user.number }}</td>
                            <td class="text-center">
                                {% if user.is_active %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ user.created_at|date:"m/d/Y H:i" }}</td>
                            <td class="text-center">
                                    <a href="{% url 'customer_detail' user.pk %}" 
                                      class="btn text-white fs-5 fw-semibold bg-primary shadow"> <i class="fa-solid fa-eye shadow"></i></a>
                                      {% if user.is_active %}
                                            <a href="{% url 'user_status' user.pk %}" 
                                            class="btn text-white fw-semibold bg-warning fs-5 shadow"
                                            onclick="return confirm('Are you sure you want to deactivate this user?');">
                                            <i class="fa-solid fa-ban"></i>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'user_status' user.pk %}" 
                                            class="btn text-white fw-semibold bg-success fs-5 shadow"
                                            onclick="return confirm('Are you sure you want to activate this user?');">
                                            <i class="fa-solid fa-check"></i>
                                            </a>
                                        {% endif %}
                                      <a href="{% url 'delete_appuser' user.pk %}" 
                                        class="btn text-white fw-semibold bg-danger fs-5 shadow"
                                            data-bs-toggle="modal"
                                                data-bs-target="#globalDeleteModal"
                                                data-name="{{ user.number }}"
                                                data-url="{% url 'delete_appuser' user.pk %}">
                                            <i class="fa-solid fa-trash-can shadow"></i>
                                            </a>
                                    </td>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No users found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}



